<div *ngIf="_myService.listAll.length > 0">
  <h2>Mis productos a comprar!</h2>
  <div *ngFor="let c of _myService.listAll; index as i" class="items-between myCard">
    <div>
      <img src="{{c.product.image}}" class="image" alt="">
    </div>
    <div>
      <h2>{{c.product.name}}</h2>
    </div>
    <div>
      <span style="margin: 0 10px; font-weight: bold; color: blue;">{{c.product.price | currency}} x</span>
      <input type="number" [(ngModel)]="c.amount" class="mi-campo">
      <button (click)="remove(i)" mat-raised-button color="warn">Remover</button>
    </div>
  </div>
  <div class="items-end">
    <button (click)="buy()" mat-raised-button color="primary">Confirmar compra</button>
  </div>
</div>
<div *ngIf="_myService.listAll.length <= 0">
  <h2 style="padding: 40px 0;">Aún no tienes productos en tu carrito...</h2>
  <button routerLink="/products" mat-raised-button color="primary">Ver productos</button>
</div>