<h1 class="items-center">Productos...</h1>
<div class="items-center">
  <mat-card *ngFor="let p of _myService.listAll" class="example-card" style="margin:0 2px;">
    <mat-card-header>
      <div mat-card-avatar style="background-image: url('{{p.image}}');
        background-size: cover;"></div>
      <mat-card-title>{{p.name}}</mat-card-title>
      <mat-card-subtitle>{{p.brand}}</mat-card-subtitle>
    </mat-card-header>
    <div class="items-center">
      <img mat-card-image src="{{p.image}}" alt="{{p.name}}">
    </div>
    <mat-card-content>
      <p>{{p.description}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="add(p.id)" mat-raised-button color="primary">Agregar al carrito</button>
    </mat-card-actions>
  </mat-card>
</div>