/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.myCard{
  margin: 10px 5px;
  border: 1px solid #717bff;
  border-radius: 5px;
  padding: 10px;
}

.items-between {
  display: flex !important;
  justify-content: space-between;
}

.items-center {
  display: flex !important;
  justify-content: center;
  text-align: center;
}

button {
  margin: 0 5px !important;
}

h2, h5 {
  margin: 0 !important;
}