<h1>Ventas</h1>
<div *ngFor="let c of _myService.listAll" class="items-between myCard">
  <div>
    <h2><span style="color: blue;">Cliente:</span> {{c.client.user}}</h2>
  </div>
  <div>
    <span *ngIf="c.state" class="text-success">Confirmada</span>
    <span *ngIf="!c.state" class="text-danger">Pendiente</span>
    <button routerLink="/dashboard/sales/view/{{c.id}}" mat-raised-button color="primary">Ver compra</button>
  </div>
</div>
<div *ngIf="_myService.listAll.length == 0">
  <h2 style="margin-top: 20px !important;">No se han encontrado ventas para confirmar.</h2>
</div>