<button mat-raised-button color="primary" routerLink="/dashboard/product/create">Crear producto</button>
<div *ngFor="let c of _myService.listAll" class="items-between myCard">
  <div>
    <img src="{{c.image}}" class="image" alt="">
  </div>
  <div>
    <h2>{{c.name}}</h2>
  </div>
  <div>
    <button mat-raised-button color="primary" routerLink="/dashboard/product/stock/{{c.id}}">Stock
      ({{c.stock}})</button>
    <button mat-raised-button color="primary" routerLink="/dashboard/product/edit/{{c.id}}">Editar</button>
    <button (click)="remove(c.id)" *ngIf="c.state" mat-raised-button color="warn">Inactivar</button>
    <button (click)="remove(c.id)" *ngIf="!c.state" mat-raised-button color="primary">Activar</button>
  </div>
</div>
<div *ngIf="_myService.listAll.length == 0">
  <h2 style="margin-top: 20px !important;">No se han encontrado productos, por favor crearlos.</h2>
</div>